.side-panel {
  margin: 20px 10px 50px 20px;
  top: 10px;
  position: sticky;
  position: -webkit-sticky;
  min-width: 10rem;

  li {
    list-style-type: none;
  }

  .side-panel-breeds {
    max-height: 500px;
    min-width: 70%;
    max-width: 80%;

    &::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar
    {
      width: 6px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
      background-color: rgba(0,0,0,0.125);
    }
  };

  .side-panel-breeds > li > small {

  }
}
